
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Eleições 2018</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clients']">Clientes </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/bocadeurna']">Boca de Urna </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/candidato']">Candidatos </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/local']">Locais </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clients']">Acompanhamento </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clients']">Título Virtual </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clients']">Ficha Limpa </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">


  <div class='row'>
    <div class='col-sm-12 body-content'>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
